.App {
  text-align: center;
}
.App-logo {
  height: 75px;
}
.App-header {
  background-color: #222c35;
  height: 75px;
  width: 100%;
  position: fixed;
  color: white;
  z-index: 7;
  .flex-row;
  justify-content: space-between;
}

.take-Up-Space{
  height: 75px;
  width: 118px;
}

.contact-button{
  align-self: center;
  color: #A3CCF3;
  font-size: 20px;
  background-color: #222c35;
  margin: 1rem;
  padding: .5rem;
  border: 1px solid #A3CCF3;
  border-radius: 8px;
  &:focus{
    outline: none;
  }
}

.contact{
  display: block;
  background-color: white;
  border: 2px solid #222c35;
  height: 35vh;
  width: 80vw;
  position: fixed;
  z-index: 6;
  margin: 75px 10vw 0 10vw;
}

.icon {
  margin: 1rem;
  .flex-column;
  align-items: center;
  & img{
    width: 13vw;
    margin-top: 1rem;
  }

}

.heroImg1 {
  background-image: url('IMG_0200.jpg');
}
.heroImg2 {
  background-image: url('IMG_0201.jpg');
}
.heroImg3 {
  background-image: url('IMG_0206.jpg');
}
.hero-img {
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  & p{
    color: white;
    font-size: 60px;
    background-attachment: fixed;
    width: 50vw;
    margin-left: 25vw;
    z-index: 2;
  }
}

.hero-text{
  color: white;
  font-size: 20px;
  position: absolute;
  width: 50vw;
  margin-left: 25vw;
  /*margin: auto;*/
  z-index: 2;
}

.title-bar {
  height: 100px;
  /*background-attachment: scroll;*/
  padding: 1rem;
  /*border-top: 1px solid blue;*/
  position: relative;
  z-index: 5;
}
.single {
  height: auto;
  /*background-attachment: scroll;*/
  margin-bottom: 3rem;
  padding: 1rem;
  border-top: 1px solid blue;
  position: relative;
  z-index: 5;
}
.single h2 {
  /*margin: 0;*/
}
.project {
  /*padding: 3vw;*/
  z-index: 3;
}
.single-image {
  height: 30vw;
  width: 50vw;
  border: 1px solid black;
  margin: 1rem;
  flex-shrink: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & p{
    text-align: left;
    border: none;
    padding: 0 3vw;
    height: auto;
    font-size: 1.3vw;
  }
  & a{
  margin-top: 1rem;
  }
}
