.App {
  text-align: center;
  position: relative;
}
.App-logo {
  height: 75px;
}
.App-header {
  background-color: #222c35;
  border-bottom: 2px solid white;
  height: 75px;
  width: 100%;
  position: bottom;
  top: 0px;
  color: white;
  z-index: 7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: space-between;
}
.take-Up-Space {
  height: 75px;
  width: 118px;
}
.header-wrapper .headroom {
  top: 0;
  left: 0;
  right: 0;
  z-Index: 7;
}
.header-wrapper .headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.header-wrapper .headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.header-wrapper .headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.header-wrapper .headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
.contact-button {
  align-self: center;
  color: #A3CCF3;
  font-size: 20px;
  background-color: #222c35;
  margin: 1rem;
  padding: .5rem;
  border: 1px solid #A3CCF3;
  border-radius: 8px;
}
.contact-button:focus {
  outline: none;
}
.contact {
  display: block;
  background-color: white;
  border: 2px solid #222c35;
  height: 100px;
  width: 80vw;
  position: fixed;
  z-index: 6;
  margin: 0 10vw 0 10vw;
}
@media (max-width: 750px) {
  .contact {
    width: 64vw;
    height: 60vh;
    margin: 0 18vw;
  }
}
@media (max-width: 450px) {
  .contact {
    width: 80vw;
    height: 60vh;
    margin: 0 10vw;
  }
}
.icon {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
  align-items: center;
}
@media (max-width: 750px) {
  .icon {
    font-size: 2.6vw;
  }
}
@media (max-width: 450px) {
  .icon {
    font-size: 11px;
  }
}
.icon p {
  text-align: left;
  border: none;
}
.icon a {
  margin-top: 1rem;
}
.icon img {
  max-width: 32px;
  margin-top: 1rem;
}
@media (max-width: 750px) {
  .icon p {
    margin: .5rem;
  }
  .icon img {
    max-height: 32px;
  }
}
.project {
  z-index: 3;
}
.heroImg1 {
  background-image: url('heroImages/IMG_0200.jpg');
}
.heroImg2 {
  background-image: url('heroImages/IMG_0201.jpg');
}
.heroImg3 {
  background-image: url('heroImages/IMG_0206.jpg');
}
.hero-img {
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
}
.hero-img p {
  color: white;
  font-size: 9vw;
  background-attachment: fixed;
  width: 50vw;
  margin-left: 25vw;
  z-index: 2;
}
.title-bar {
  height: 100px;
  padding: 1rem;
  position: relative;
  z-index: 5;
  color: #222c35;
  background-color: white;
}
.single {
  height: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  position: relative;
  z-index: 5;
  color: #222c35;
  box-shadow: 4px 6px 16px 2px #b0b0b6;
}
.single-image {
  height: 30vw;
  width: 50vw;
  border: 1px solid black;
  margin: 1rem;
  flex-shrink: 0;
}
@media (max-width: 750px) {
  .single-image {
    width: 90vw;
    height: 54vw;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
@media (max-width: 750px) {
  .flex-column {
    font-size: 2.6vw;
  }
}
@media (max-width: 450px) {
  .flex-column {
    font-size: 11px;
  }
}
.flex-column p {
  text-align: left;
  border: none;
}
.flex-column a {
  margin-top: 1rem;
}
.video-wrapper {
  position: relative;
  margin: 1rem;
}
.video-wrapper:hover .video-hover-span {
  visibility: visible;
}
.video-wrapper > video {
  height: 30vw;
  width: 50vw;
  border: 1px solid black;
  flex-shrink: 0;
}
@media (max-width: 750px) {
  .video-wrapper > video {
    width: 90vw;
    height: 54vw;
  }
}
.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}
.video-overlay-play-button {
  box-sizing: inherit;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: auto;
  opacity: 0.8;
  cursor: pointer;
  background-image: linear-gradient(transparent, #000);
  transition: opacity 150ms;
}
.video-hover-span {
  visibility: hidden;
  position: absolute;
  width: 34vw;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 0;
  margin: 0 8vw;
}
@media (max-width: 750px) {
  .video-hover-span {
    width: 70vw;
    margin: 0 10vw;
  }
}
.video-hover-span-is-hidden {
  visibility: hidden;
}
.video-overlay-play-button:hover {
  opacity: .6;
}
.video-overlay-play-button.is-hidden {
  display: none;
}
.video-overlay-play-button.is-hidden .video-hover-span {
  display: none;
}
.text-container {
  color: #49494d;
  padding: 0 3vw;
  height: auto;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-bottom: 25px;
}
.text-container-minimized {
  overflow: hidden;
  height: 32vw;
  position: relative;
  text-align: left;
  -webkit-box-shadow: inset 0px -70px 30px -30px #ffffff;
  -moz-box-shadow: inset 0px -70px 30px -30px #ffffff;
  box-shadow: inset 0px -70px 30px -30px #ffffff;
}
.text-container-minimized:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: inset 0px -70px 30px -30px #ffffff;
  -moz-box-shadow: inset 0px -70px 30px -30px #ffffff;
  box-shadow: inset 0px -70px 30px -30px #ffffff;
}
.text-container-full {
  height: auto;
}
.text-container button {
  font-family: Arial;
  color: #f45800;
  font-size: 14px;
  background: #ffffff;
  border: solid #ffffff 0px;
  text-decoration: none;
}
.text-container button:focus {
  outline: none;
}
.text-container button:hover {
  text-decoration: underline;
  opacity: 1;
}
.paragraphs {
  height: auto;
}
.details-header {
  font-size: 16px;
  font-weight: bold;
  color: black;
  font-family: 'Lato', 'Arial', sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
}
.title {
  margin-bottom: 24px;
  font-size: 40px;
  text-align: center;
  color: #fff;
}
.subtitle {
  margin-bottom: 64px;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
@media (max-width: 400px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 20px;
  }
}
.toolbelt {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222c35;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #222c35;
  padding: 80px 0;
}
.skills-container {
  margin: 0;
}
.skills-container .skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-container .skill-list .skill {
  width: 100px;
  margin: 0 5px -20px 5px;
  position: relative;
}
.skills-container .skill-list .skill:hover::after {
  content: attr(data-name);
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  border-radius: 5px;
  bottom: -45px;
  max-width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 10;
}
.skills-container .skill-list .skill img {
  width: 100px;
  transition: transform .5s, opacity .3s;
}
.skills-container .skill-list .skill img:hover {
  transform: scale(1.1);
}
.skills-container .skill-list .unselected img {
  opacity: 0.5;
}
@media (max-width: 641px) {
  .skills-container .skill-list .skill {
    width: 64px;
    margin: 0 2px -17px 2px;
  }
  .skills-container .skill-list .skill img {
    width: 64px;
  }
}
.footer-wrapper .headroom {
  bottom: 0;
  left: 0;
  right: 0;
  z-Index: 7;
}
.footer-wrapper .headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.footer-wrapper .headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.footer-wrapper .headroom--unpinned {
  position: fixed;
  transform: translateY(100%);
}
.footer-wrapper .headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
.footer {
  background-color: #222c35;
  border-top: 2px solid white;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0px;
  color: white;
  z-index: 7;
}
.footer a {
  color: white;
}
.app-bottom {
  margin-bottom: -75px;
}
