.App {
  text-align: center;
}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 75px;
}
.App-header {
  /*background-color: #1A2128;*/
  background-color: #222c35;
  height: 75px;
  width: 100%;
  /*margin-top: -18px;*/
  /*padding: 20px;*/
  position: fixed;
  color: white;
  z-index: 7;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
.heroImg1 {
  background-image: url('html-code-screen.png');
}
.heroImg2 {
  background-image: url('macBook-on-wood-desk.jpg');
}
.hero-img {
  /*margin-top: 75px;*/
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  /*text-align: center;*/
  /*position: fixed;*/
}

.hero-text{
  color: white;
  font-size: 20px;
  position: absolute;
  width: 50vw;
  margin-left: 25vw;
  /*margin: auto;*/
  z-index: 2;
}

.hero-img p{
  color: white;
  font-size: 20px;
  position: absolute;
  background-attachment: fixed;
  width: 50vw;
  margin-left: 25vw;
  /*margin: auto;*/
  z-index: 2;
}

.title-bar {
  height: 100px;
  /*background-attachment: scroll;*/
  padding: 1rem;
  /*border-top: 1px solid blue;*/
  position: relative;
  z-index: 5;
}
.single {
  height: auto;
  /*background-attachment: scroll;*/
  margin-bottom: 3rem;
  padding: 1rem;
  border-top: 1px solid blue;
  position: relative;
  z-index: 5;
}
.single h2 {
  /*margin: 0;*/
}
.project {
  /*padding: 3vw;*/
  z-index: 3;
}
.single-image {
  height: 27vw;
  width: 45vw;
  border: 1px solid black;
  /*margin: 1rem 3rem 3rem 3rem;*/
  flex-shrink: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-row textarea {
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 0 3vw;
  /*margin: 0 3rem 2rem 0;*/
  width: 45vw;
  height: 27vw;
  font: 14px sans-serif;
}
